themes/bigpsring/Thumbs.db
themes/bigpsring/.DS_Store
themes/bigpsring/.dist
themes/bigpsring/.tmp
themes/bigpsring/.sass-cache
themes/bigpsring/npm-debug.log
themes/bigpsring/node_modules
themes/bigpsring/builds
themes/bigpsring/package-lock.json
themes/bigpsring/public