{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

<!-- project_right -->
{{ with .Params.project_right }}
  {{ if .enable }}
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 25px;">
          <div class="col-3">
            <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
          </div>
          <div class="col-9">
            <h4>{{ .title | title }}</h4>
            {{ range .project_description }}
              {{ if .description_enable }}
                <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- /project_right -->

<!-- project_left -->
{{ with .Params.project_left }}
  {{ if .enable }}
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center" style="margin-bottom: 25px;">
          <div class="col-9">
            <h4>{{ .title | title }}</h4>
            {{ range .project_description }}
              {{ if .description_enable }}
                <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-3">
            <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- /project_left -->

{{ end }}




