{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

<!-- protein-enovelation_left_then_right -->
{{ with .Params.protein-enovelation_left_then_right }}
  {{ if .enable }}
    <section class="section bg-light">
      {{ range $i,$p := .protein-enovelation }}
        {{ if .protein-enovelation_enable }}
          <div class="container" id="{{ .protein-enovelation_id }}">
            <div class="row justify-content-center" style="margin-bottom: 25px;">
              {{ if modBool $i 2 }}
                <div class="col-9">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <h4>{{ .title | title }}</h4>
                  </a>
                  {{ range .protein-enovelation_description }}
                    {{ if .description_enable }}
                      <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
                    {{ end }}
                  {{ end }}
                </div>
                <div class="col-3">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
                  </a>
                </div>
              {{ else }}
                <div class="col-3">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
                  </a>
                </div>
                <div class="col-9">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <h4>{{ .title | title }}</h4>
                  </a>
                  {{ range .protein-enovelation_description }}
                    {{ if .description_enable }}
                      <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
                    {{ end }}
                  {{ end }}
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
<!-- /protein-enovelation_left_then_right -->

<!-- protein-enovelation_right_then_left -->
{{ with .Params.protein-enovelation_right_then_left }}
  {{ if .enable }}
    <section class="section bg-light">
      {{ range $i,$p := .protein-enovelation }}
        {{ if .protein-enovelation_enable }}
          <div class="container" id="{{ .protein-enovelation_id }}">
            <div class="row justify-content-center" style="margin-bottom: 25px;">
              {{ if modBool $i 2 }}
                <div class="col-3">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
                  </a>
                </div>
                <div class="col-9">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <h4>{{ .title | title }}</h4>
                  </a>
                  {{ range .protein-enovelation_description }}
                    {{ if .description_enable }}
                      <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
                    {{ end }}
                  {{ end }}
                </div>
              {{ else }}
                <div class="col-9">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <h4>{{ .title | title }}</h4>
                  </a>
                  {{ range .protein-enovelation_description }}
                    {{ if .description_enable }}
                      <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
                    {{ end }}
                  {{ end }}
                </div>
                <div class="col-3">
                  <a href="{{ .protein-enovelation_link | safeURL }}">
                    <img style="width: 200px; height: 200px; border-radius: 5px;" src="{{ .image | relURL }}">
                  </a>
                </div>
              {{ end }}
            </div>
          </div>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
{{ end }}
<!-- /protein-enovelation_right_then_left -->

{{ end }}
