{{ define "main" }}

{{ partial "page-header.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>

<!-- role -->
{{ with .Params.allroles }}
  {{ if .all_enable }}
    <section class="section bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="section-title" style="margin-bottom: 25px;">{{ .title | markdownify }}</h2>
          </div>
        </div>
        {{ range .role }}
          {{ if .role_enable }}
            <div>
              <div class="row justify-content-center">
                <div class="col-12 text-center">
                  <h3 class="sub-section-title" id="{{ .role_id | markdownify }}">{{ .role_name | markdownify }}</h3>
                </div>
              </div>
              {{ range .person }}
                {{ if .person_enable }}
                  <div class="row justify-content-center" style="margin-bottom: 25px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 10px; padding: 12px;">
                    <div class="col-3" style="margin-right: -30px;">
                      <img style="width: 200px; height: 200px; border-radius: 75px 110px 100px 87px;" src="{{ .person_photo | relURL }}">
                    </div>
                    <div class="col-9">
                      <h4>{{ .person_title | title }} {{ .person_name | title }}</h4>
                      {{ range .person_description }}
                        {{ if .description_enable }}
                          <p style="text-align: justify; text-justify: inter-word;">{{ .description | markdownify }}</p>
                        {{ end }}
                      {{ end }}
                    </div>
                  </div>
                {{ end }}
              {{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    </section>
  {{ end }}
{{ end }}
<!-- /role -->

{{ end }}