{{ define "main" }}

<!-- researchbox -->
{{ with .Params.research_box }}
    {{ if .enable }}
        <section class="section bg-light">
            <div class="row justify-content-center">
                <div style="border: 3px dashed #ABABAB; padding-left: 25px; padding-right: 25px;">
                    <div class="row justify-content-left" style="margin-bottom: 25px; border-bottom: 1px solid #ABABAB;">
                        <h1>{{ .title | markdownify }}</h1>
                    </div>
                    <div class="container">
                        <div class="row justify-content-center" style="margin-bottom: 25px;">
                            {{ range .description }}
                                {{ if .box_enable }}
                                    <p style="text-align: justify; text-justify: inter-word;">{{ .box_description | markdownify }}</p>
                                {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}
<!-- /researchbox -->

<!-- papers -->
{{ with .Params.papers }}
    {{ if .enable }}
        <section class="section bg-light">
            <div class="row justify-content-center">
                <div style="padding-left: 25px; padding-right: 25px;">
                    <div class="row justify-content-left" style="margin-bottom: 25px; border-bottom: 1px solid #ABABAB;">
                        <h2>{{ .title | markdownify }}</h2>
                    </div>
                    <div class="container">
                        {{ range .year }}
                            {{ if .year_enable }}
                                <div class="row justify-content-left" style="margin-bottom: 5px; border-bottom: 1px solid #ABABAB;">
                                    <h3>{{ .year_title | markdownify }}</h3>
                                </div>
                                <ul>
                                    {{ range .paper }}
                                        {{ if .paper_enable }}
                                            <li>
                                                <div style="margin-bottom: 7px; text-align: justify;">
                                                    {{ .paper_title | markdownify }}.
                                                    <span style="font-weight: bold;">{{ .paper_journal | markdownify }}.</span>
                                                    {{ .paper_author | markdownify }} <a href="{{ .paper_link | safeURL }}" target="_blank"><img src="/images/link-paper.svg" style="height: 25px; width: 25px;"></a>
                                                </div>
                                            </li>
                                        {{ end }}
                                    {{ end }}
                                </ul>
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}
<!-- /papers -->

{{ end }}
